h1{
  text-align: center;
}

body{
  background-color: #333333;
  margin: 0;
}

.tiles{
  margin: 48px auto;
  width: max-content;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  gap: 16px;
}

.tile {
  height: 100px;
  background: #111111;
  border: 5x solid #444444;
cursor: pointer;
}

